#animation_container {
	border: solid 2px;
	height: 400px;
	width: 900px;
	display: inline-block;
	background-image: url(Images/bg.jpg);
	background-size: 900px 400px;
}
#log_container {
	width: 400px;
	height: 400px;
	border: 2px grey inset;
	display: inline-block;
}